%placeholder{
    border: 0;
    outline: 0;
    padding: 10px;
    background-color: #eee;
    color: black;
    &:hover{
        background-color: #ddd;
    }    
}

.body{
    // @extend %placeholder;
    padding: 20px;
    width: 82%;
    height: 100%;
    overflow: auto;
    .bottom{
        @media(max-width:991px){
            flex-direction: column;
        }
        width: 100%;
        justify-content: space-between;
        display: flex;
        gap: 20px;
    }
}