a {
  text-decoration: none;
}

ul,
li,
nav {
  list-style: none;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.grid {
  display: grid;
}

.container {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  box-shadow: 0 0 10px rgb(153, 152, 152);
  border-radius: 15px;
  height: 94vh;
  width: 94vw;
  margin: 30px auto 0;
  position: relative;
  background-color: #eee;

}


.btn {
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 8px;
}

.btn:hover {
  background-color: rgb(83, 82, 82);
  color: white;
}

.icon {
  color: rgb(21, 147, 206);
  font-size: 17px;
  margin-right: 10px;
}

@media(max-width:991px) {
  .icon {
    display: none;
  }
}

h2 {
  font-size: 18px;
}

::-webkit-scrollbar {
  display: none;
}